<MarketplaceDetails>
  <SmallAppTile>marketplace.png</SmallAppTile>
  <LargeAppTile>
  </LargeAppTile>
  <PCAppTile>
  </PCAppTile>
  <ScreenShots>1.PNG;;;;;;;;</ScreenShots>
  <ScreenShotsWXGA>WXGA.png;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>720p.png;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>